* {
    margin: 0;
    padding: 0;
  }
  header, nav, main, aside, section, article, footer, section {
    display:block;
  }
  body {
    background-color:#ffffffff;
  }
  #wrapper {
    margin: 0px 32px;
  }
  header {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  